<!-- Begin MailChimp Signup Form -->
<div class="row">
  <form action="//github.us12.list-manage.com/subscribe/post?u=d788f0653a3e56a367e673beb&amp;id=253a66d08d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll" class="announcement-list-signup">
      <!-- <label for="mce-EMAIL">Subscribe to our announcement list</label> -->
      <div>
        <Input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_d788f0653a3e56a367e673beb_253a66d08d" tabindex="-1" value="">
      </div>
      <div class="clear">
        <input type="submit" value={{ include.button_label }} name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
