h1, h2 {
  text-align: center;
}

.container {
  max-width: 960px;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;       /* font size on tablet and smaller */
}

section.module p {
  margin-bottom: 5%;
  font-size: 16px;
  font-weight: 300;
}

section.module.content {
  padding-top: 2%;
  padding-bottom: 5%;
}

.team {
  margin-left: 15%;
  border-radius: 50%;
  width: 70%;
  margin-bottom: 10%;
}

.arrow {
   visibility: hidden;
}

.attendees-picture {
  border-radius: 0px;
  width: 100%
}

/* Here are the pictures */
section.module.parallax-1 {
  background-image: url("/images/cb1.jpg");
  opacity: 0.8;
}
section.module.parallax-2 {
  background-image: url("/images/cb2.jpg");
  opacity: 0.8;
}
section.module.parallax-3 {
  background-image: url("/images/cb3.jpg");
  opacity: 0.8;
}
section.module.parallax-4 {
  background-image: url("/images/cb4.jpg");
  opacity: 0.9;
}

/* Override Bootstrap */
.btn {
  margin-bottom: 10px;
}

.apply-now {
  padding-bottom: 20px;
  font-size: 16px;
}

/* SCREEN: Font sizes & height pictures */
@media all and (min-width: 600px) {

  p {
    text-align: justify;
  }

  .middle {
    text-align: center;
  }

  section.module.parallax {
    background-attachment: fixed;   /* HERE IS THE MAGIC*/
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  section.module h1 {
    font-size: 60px;
  }

  section.module h2 {
    font-size: 42px;
  }

  section.module p {
    font-size: 18px;
  }

  .arrow {
    padding-top: 1%;
    margin-left: 45%;
    visibility: visible;
  }

  .logo {
    position: relative;
    margin-top: 3%;
    left: 39%;
    width: 20%;
  }
  .coach-button {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media all and (max-width: 767px) {
  .btn {
    width: 100%;
  }
}

@media all and (max-width: 600px) {

  section.module.parallax {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
  }

  .logo {
    position: relative;
    margin-top: 5%;
    left: 30%;
    width: 40%;
  }
  .btn {
    width: 100%;
  }

  .apply-now {
    padding-left: 15px;
  }
}

