h1, h2 {
  text-align: center;
}

.container {
  max-width: 960px;
}

h1 {
  font-size: 40px;
   margin-bottom: 40px;
}

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;       /* font size on tablet and smaller */
}

section.module p {
  margin-bottom: 3%;
  font-size: 16px;
  font-weight: 300;
}

section.module.content {
  padding-top: 2%;
  padding-bottom: 1%;
}

.centered {
  text-align: center;
}

.team {
  margin-left: 15%;
  border-radius: 50%;
  width: 70%;
  margin-bottom: 10%;
}

.arrow {
   visibility: hidden;
}

.attendees-picture {
  border-radius: 0px;
  width: 100%
}

.sponsor-area {
  padding-top: 5%;
  padding-bottom: 5%;
}

.sponsor-logo {
  width: 16%;
  float: left;
  padding-right: 2%;
  padding-bottom: 3%;
}

.host-area {
  padding-bottom: 10%;
}
.host-area a:hover {
  text-decoration: none;
}

.bottom-space {
  padding-bottom: 5%;
}

.quote {
  color: white;
  background-color: #70addb;
  padding: 5px 5px 10px 10px;
  border-radius: 10px;
  margin-bottom: 0 !important;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: 20px;
  border-style: solid;
  border-width: 30px 0px 0 40px;
  border-color: #70addb transparent transparent;
}

/* Here are the pictures */
section.module.parallax-1 {
  background-image: url("/images/cb1.jpg");
  opacity: 0.8;
}
section.module.parallax-2 {
  background-image: url("/images/cb2.jpg");
  opacity: 0.8;
}
section.module.parallax-3 {
  background-image: url("/images/cb3.jpg");
  opacity: 0.8;
}
section.module.parallax-4 {
  background-image: url("/images/cb4.jpg");
  opacity: 0.9;
}

.apply-box {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 15px;
  border-style: dotted;
  border-color: #5cb85c;
}

.apply-text {
  line-height: 1.8;
}

#signup-form-wrapper {
  margin: 0 auto;
  width: 60%;
}

#signup-form-wrapper #mc_embed_signup input.email {
  width: 100%;
}

/* Override Bootstrap */

.btn {
  margin-bottom: 10px;
  width: 100%;
}

/* MEDIA QUERIES */

@media all and (min-device-width: 1024px) {

  section.module.parallax {
    background-attachment: fixed;   /* HERE IS THE MAGIC*/
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  section.module h1 {
    font-size: 60px;
  }

  section.module h2 {
    font-size: 42px;
  }

  section.module p {
    font-size: 18px;
  }

  li {
    font-size: 18px;
    font-weight: 300;
  }

  .arrow {
    margin-top: 2%;
    margin-left: 30%;
    visibility: visible;
  }

  .logo {
    position: relative;
    margin-top: 3%;
    left: 39%;
    width: 20%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  section.module.parallax {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  .logo {
    position: relative;
    margin-top: 3%;
    left: 39%;
    width: 20%;
  }
}

@media all and (max-width: 768px) {

  section.module.parallax {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
  }

  .logo {
    position: relative;
    margin-top: 5%;
    left: 30%;
    width: 40%;
  }

  .sponsor-logo {
    width: 80%;
    padding-left: 20%;
  }
}
