<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ClojureBridge Berlin</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="twitter:description" content="ClojureBridge aims to increase diversity within the Clojure community by offering free, beginner-friendly Clojure programming workshops for women.">
    <meta name="description" content="ClojureBridge aims to increase diversity within the Clojure community by offering free, beginner-friendly Clojure programming workshops for women.">
  </head>

  <body>
    <header class="container">
      <a href="http://clojurebridge-berlin.github.io/">
        <img class="logo" src="/images/logo.png">
      </a>
    </header>

    {{content}}
  </body>

</html>
